pandas
numpy
matplotlib
seaborn
ipykernel
dvc
dagshub
scikit-learn
sentence-transformers
joblib
jupyter
ipywidgets
tqdm
mord
xgboost
statsmodels
langchain
langchain-groq
langchain-chroma
google-genai
python-dotenv
chromadb
fastapi
uvicorn
streamlit
rouge-score 
nltk
pytest